:root {
  --black-color: #000;
  --white-color: #fff;
  --accent-color: #10b9b9;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fff;
  color: var(--black-color);
}
a {
  color: inherit;
}

/* HEADER */
header {
  background-color: inherit;
  padding: 40px 80px;
  position: sticky;
  top: 0px;
  width: 100%;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #c1c1c1;
}
.logo {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;

  flex-basis: 50%;
}

nav {
  margin: 0px 40px 0px 0px;
  transition: .3s;
}
.nav-list {
  display: flex;
}
.nav-list li {
  margin: 0px 40px 0px 0px;
}
.nav-list li:last-child {
  margin: 0;
}
.nav-list a {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-list a:hover {
  color: var(--accent-color);
}

#submenu {
  display: none;
}
.submenu-element {
  transition: .3s;
}
input:checked ~ .submenu .element-1 {
  transform: rotate(-45deg) translateY(8.5px);
}
input:checked ~ .submenu .element-2{
  opacity: 0;
}
input:checked ~ .submenu .element-3 {
  transform: rotate(45deg) translateY(-8.5px);
}
input:checked ~ nav{
  position: absolute;
  top: 0;
  right: 0;
}
input:checked ~ .submenu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.tools {
}
.search {
  font-size: 32px;
  cursor: pointer;
  transform: rotate(-45deg);
}
.search:hover {
  color: var(--accent-color);
}

/* HERO SECTION */
.hero {
  background: url(../images/background.jpg) 50% / 100% 100% no-repeat;
  padding: 250px 0px 200px;
  text-align: center;
}

.hero-title {
  margin: 0px 0px 100px 0px;

  color: var(--white-color);
  font-size: 54px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.hero-button {
  padding: 20px 40px;
  background-color: var(--accent-color);
  
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;

  /* add a border this !!! */
}



/* BENEFITS SECTION */
.benefits {
  padding: 80px 100px;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-item {
  flex-basis: 33.333%;
  padding: 10px;
}

.benefits-item-icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 0px 30px 0px;
}
.monitor {
  background: url(../images/icons/monitor.svg) 0 0 / cover no-repeat;
}
.disc {
  background: url(../images/icons/disc.svg) 0 0 / cover no-repeat;
}
.bulb {
  background: url(../images/icons/bulb.svg) 0 0 / cover no-repeat;
}

.benefits-item-title {
  margin: 0px 0px 30px 0px;

  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.benefits-item-text {
  font-size: 18px;
  line-height: 1.2;
}
.benefits-item-text::first-letter {
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  header {
    padding: 40px 40px;
  }
  .benefits {
    padding: 40px 40px;
  }
}

@media (max-width: 992px) {
  header {
    padding: 20px 20px;
  }
  nav {
    margin: 0px 15px 0px 0px;
  }
  .nav-list li {
    margin: 0px 20px 0px 0px;
  }

  /* hero section */
  .hero {
    padding: 150px 0px 100px;
  }
  
  .benefits {
    padding: 20px 20px;
  }
}

@media (max-width: 768px) {
  header,
  .benefits-list {
    flex-direction:  column;
  }

  header {
    padding: 10px 10px;
  }
  .logo {
    margin: 0px 0px 20px 0px ;
    font-size: 24px;
  }
  nav {
    margin: 0px 0px 20px 0px;
  }
  .nav-list a {
    font-size: 16px;
  }

  /* hero section */
  .hero {
   padding: 100px 0px 80px;
  }
  .hero-title {
    margin: 0px 0px 50px 0px;
    font-size: 32px;
  }
  .hero-button {
    padding: 15px 25px;
    font-size: 16px;
  }

  /* benefits swction */
  .benefits {
    padding: 10px 10px;
  }
  .benefits-item {
    margin: 0px 0px 20px 0px;
  }
  .benefits-item:last-child {
    margin: 0px 0px 0px 0px;
  }
  .benefits-item-icon {
    width: 30px;
    height: 30px;
    margin: 0px 0px 20px 0px;
  }
  .benefits-item-title {
    margin: 0px 0px 20px 0px;
    font-size: 24px;
  }
  
  .benefits-item-text {
    font-size: 16px;
  }
  
}

@media (max-width: 576px) {
  header {
    padding: 5px 5px;
  }
  .logo {
    margin: 0px 0px 5px 0px;
    font-size: 20px;
  }  
  nav {
    background-color: var(--accent-color);
    position: absolute;
    top: -200%;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 10px 0px 20px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav-list li {
    margin: 0px 0px 10px 0px;
  }
  .nav-list a {
    padding: 0px 0px 5px 0px;
    font-size: 14px;
    border-bottom: 1px solid var(--white-color);
  }
  .nav-list a:hover {
    color: var(--white-color);
  }

  .submenu {
    width: 25px;
    height: 15px;
    cursor: pointer;
    margin: 0px 0px 4px 0px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .submenu-element {
   background-color: var(--black-color);
   width: 100%;
   height: 3px;
  }

  /* hero section*/
  .hero {
    padding: 50px 0px 50px;
  }
  .hero-title {
    margin: 0px 0px 20px 0px;
    font-size: 24px;
  }
  .hero-button {
    padding: 10px 15px;
    font-size: 14px;
  }

  /* benefits */
  .benefits {
    padding: 5px 5px;
  }
  .benefits-item {
    margin: 0px 0px 10px 0px;
  }
  .benefits-item:last-child {
    margin: 0px 0px 0px 0px;
  }
  .benefits-item-icon {
    width: 20px;
    height: 20px;
    margin: 0px 0px 10px 0px;
  }
  .benefits-item-title {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
  }
  .benefits-item-text {
    font-size: 14px;
  }
}
